In [1]:
import pandas as pd
import glob
import re

In [2]:
countries = ['australia', 'austria', 'belgium', 'brazil', 'canada', 'chile', 'china', 'czechia', 'denmark', 'estonia', 'finland', 'france', 'germany', 'greece', 'hungary', 'iceland', 'india', 'ireland', 'israel', 'italy', 'japan', 'korea', 'latvia', 'lithuania', 'luxembourg', 'mexico', 'netherlands', 'new zealand', 'norway', 'poland', 'portugal', 'slovakia', 'slovenia', 'spain', 'sweden', 'switzerland', 'turkey', 'united kingdom', 'usa', 'rep. of korea']
breiger_commodity = [0, 2, 3, 6]

In [4]:
data = pd.read_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data China\China 2018.csv')

In [5]:
data.columns

Index(['Classification', 'Year', 'Period', 'Period Desc.', 'Aggregate Level',
       'Is Leaf Code', 'Trade Flow Code', 'Trade Flow', 'Reporter Code',
       'Reporter', 'Reporter ISO', 'Partner Code', 'Partner', 'Partner ISO',
       '2nd Partner Code', '2nd Partner', '2nd Partner ISO',
       'Customs Proc. Code', 'Customs', 'Mode of Transport Code',
       'Mode of Transport', 'Commodity Code', 'Commodity', 'Qty Unit Code',
       'Qty Unit', 'Qty', 'Alt Qty Unit Code', 'Alt Qty Unit', 'Alt Qty',
       'Netweight (kg)', 'Gross weight (kg)', 'Trade Value (US$)',
       'CIF Trade Value (US$)', 'FOB Trade Value (US$)', 'Flag'],
      dtype='object')

In [6]:
#Drop Columns
data.drop(columns=['Year', 'Commodity', 'Classification', 'Period', 'Period Desc.', 'Aggregate Level',
       'Is Leaf Code','Reporter Code', 'Reporter ISO', 'Partner Code', 'Partner ISO',
       '2nd Partner Code', '2nd Partner', '2nd Partner ISO',
       'Customs Proc. Code', 'Customs', 'Mode of Transport Code', 'Trade Flow Code', 
       'Mode of Transport', 'Qty Unit Code',
       'Qty Unit', 'Qty', 'Alt Qty Unit Code', 'Alt Qty Unit', 'Alt Qty',
       'Netweight (kg)', 'Gross weight (kg)', 'CIF Trade Value (US$)', 'FOB Trade Value (US$)', 'Flag'], inplace=True)

In [7]:
#lower the strings
data['Reporter'] = data['Reporter'].str.lower()
data['Partner'] = data['Partner'].str.lower()
data['Trade Flow'] = data['Trade Flow'].str.lower()

In [8]:
#Remove countries that are not in the list
data = data[data['Partner'].isin(countries)]

In [9]:
trade_matrix = data.groupby(['Trade Flow', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Trade Flow', 'Partner').fillna(0)
trade_matrix.columns = trade_matrix.columns.droplevel(0)
del trade_matrix.index.name
trade_matrix = trade_matrix.T
trade_matrix = trade_matrix.drop(columns=['re-import'])

In [10]:
trade_matrix.head()

                 export        import
Partner
australia  1.200709e+10  9.148373e+10
austria    3.297554e+08  1.584741e+09
belgium    4.130591e+09  2.365410e+09
brazil     6.568260e+09  7.546989e+10
canada     8.880525e+09  1.626602e+10

In [11]:
#csv file
trade_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data China\matrix\china_2018.csv', index=True)

In [12]:
china_18 = data.groupby(['Trade Flow', 'Partner', 'Reporter'],as_index = False)['Trade Value (US$)'].sum()
china_18[china_18['Trade Flow'] != 're-import']
china_18.reset_index()

#csv file
#china_18.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data China\matrix\chinatrade_2018.csv', index=True)

In [15]:
data.groupby(['Trade Flow','Partner', 'Reporter'],as_index = False)['Trade Value (US$)'].sum()

   Trade Flow         Partner Reporter  Trade Value (US$)
0      export       australia    china        12007088826
1      export         austria    china          329755354
2      export         belgium    china         4130590690
3      export          brazil    china         6568260081
4      export          canada    china         8880524881
5      export           chile    china         4330452553
6      export         czechia    china          569858630
7      export         denmark    china         1066396539
8      export         estonia    china          228998482
9      export         finland    china          678097919
10     export          france    china         4658190975
11     export         germany    china        12063035607
12     export          greece    china         1348989725
13     export         hungary    china          377452424
14     export         iceland    china          110530773
15     export           india    china        14137652536
16     export         ireland    china          482541993
17     export          israel    china         2602040050
18     export           italy    china         7542151617
19     export           japan    china        32803095731
20     export          latvia    china          290094502
21     export       lithuania    china          541135067
22     export      luxembourg    china           92479792
23     export          mexico    china         8324143931
24     export     netherlands    china         8598819933
25     export     new zealand    china         1511611016
26     export          norway    china          654429195
27     export          poland    china         3623531432
28     export        portugal    china         1087428808
29     export   rep. of korea    china        26467652994
..        ...             ...      ...                ...
48     import         finland    china         2689698226
49     import          france    china         4293637378
50     import         germany    china        11715418361
51     import          greece    china          323547172
52     import         hungary    china          314405344
53     import         iceland    china          149920879
54     import           india    china        11693061232
55     import         ireland    china         1139047268
56     import          israel    china          696193980
57     import           italy    china         3823932081
58     import           japan    china        28078917715
59     import          latvia    china          173909630
60     import       lithuania    china          163253868
61     import      luxembourg    china          169352518
62     import          mexico    china         4561945167
63     import     netherlands    china         4759185036
64     import     new zealand    china         9994919140
65     import          norway    china         1575853175
66     import          poland    china         1334861390
67     import        portugal    china          415895592
68     import   rep. of korea    china        27245582044
69     import        slovakia    china           70838998
70     import        slovenia    china          112353743
71     import           spain    china         4082154652
72     import          sweden    china         2308442182
73     import     switzerland    china          775654027
74     import          turkey    china         2291731755
75     import  united kingdom    china         7801448770
76     import             usa    china        44356048241
77  re-import           china    china         4952412469

[78 rows x 4 columns]