In [1]:
import pandas as pd
import glob
import re
import numpy

In [2]:
countries = ['australia', 'austria', 'belgium', 'brazil', 'canada', 'chile', 'china', 'czechia', 'denmark', 'estonia', 'finland', 'france', 'germany', 'greece', 'hungary', 'iceland', 'india', 'ireland', 'israel', 'italy', 'japan', 'korea', 'latvia', 'lithuania', 'luxembourg', 'mexico', 'netherlands', 'new zealand', 'norway', 'poland', 'portugal', 'slovakia', 'slovenia', 'spain', 'sweden', 'switzerland', 'turkey', 'united kingdom', 'usa', 'rep. of korea']
breiger_commodity = [0, 2, 3, 6]
#oecd_countries = ['austria', 'belgium', 'canada', 'denmark', 'france', 'germany', 'greece', 'iceland', 'ireland', 'luxembourg','netherlands', 'norway', 'portugal', 'spain', 'sweden', 'switzerland', 'turkey', 'united kingdom', 'usa', 'italy', 'japan', 'finland', 'australia', 'israel']

In [3]:
# Combine all files
path = r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

data = pd.concat(li, axis=0, ignore_index=True)

C:\Users\Dhruval\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # This is added back by InteractiveShellApp.init_path()

In [4]:
#Drop Columns
data.drop(columns=['Classification', 'Period', 'Period Desc.', 'Aggregate Level',
       'Is Leaf Code','Reporter Code', 'Reporter ISO', 'Partner Code', 'Partner ISO',
       '2nd Partner Code', '2nd Partner', '2nd Partner ISO',
       'Customs Proc. Code', 'Customs', 'Mode of Transport Code', 'Trade Flow Code', 
       'Mode of Transport', 'Qty Unit Code',
       'Qty Unit', 'Qty', 'Alt Qty Unit Code', 'Alt Qty Unit', 'Alt Qty',
       'Netweight (kg)', 'Gross weight (kg)', 'CIF Trade Value (US$)', 'FOB Trade Value (US$)', 'Flag'], inplace=True)

In [5]:
#lower the strings
data['Reporter'] = data['Reporter'].str.lower()
data['Partner'] = data['Partner'].str.lower()
data['Trade Flow'] = data['Trade Flow'].str.lower()

#Remove all re-imports
data = data.drop(data[data['Trade Flow'] == 're-import'].index)

#Remove countries that are not in the list
data = data[data['Partner'].isin(countries)]
#Remove countries that are not in the list
data = data[data['Reporter'].isin(countries)]

In [18]:
data.head()

,Commodity,Commodity Code,Partner,Reporter,Trade Flow,Trade Value (US$),Unnamed: 0,Year,australia,austria,...,portugal,rep. of korea,slovakia,slovenia,spain,sweden,switzerland,turkey,united kingdom,usa
16,Food and live animals,0.0,australia,belgium,import,4.825463e+07,NaN,2008.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Food and live animals,0.0,australia,belgium,export,8.863533e+07,NaN,2008.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Food and live animals,0.0,austria,belgium,import,7.372260e+07,NaN,2008.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Food and live animals,0.0,austria,belgium,export,3.564149e+08,NaN,2008.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Food and live animals,0.0,brazil,belgium,import,1.188636e+09,NaN,2008.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data[data['Commodity Code'] == 0.0].groupby(['Trade Flow'],as_index = False)['Trade Value (US$)'].sum()

  Trade Flow  Trade Value (US$)
0     export       4.851881e+11
1     import       5.004472e+11

In [28]:
data[data['Commodity Code'] == 0.0].groupby(['Partner', 'Reporter', 'Trade Flow'],as_index = False)['Trade Value (US$)'].sum()

        Partner        Reporter Trade Flow  Trade Value (US$)
0     australia       australia     import       2.289144e+07
1     australia         austria     export       1.028140e+07
2     australia         austria     import       5.748928e+06
3     australia         belgium     export       8.863533e+07
4     australia         belgium     import       4.825463e+07
5     australia          brazil     export       1.867926e+08
6     australia          brazil     import       5.744529e+06
7     australia          canada     export       1.831873e+08
8     australia          canada     import       1.338293e+08
9     australia           chile     export       3.684072e+07
10    australia           chile     import       6.227133e+07
11    australia           china     export       5.043186e+08
12    australia           china     import       7.522136e+08
13    australia         czechia     export       1.086857e+06
14    australia         czechia     import       5.900300e+05
15    australia         denmark     export       2.480566e+08
16    australia         denmark     import       6.268429e+06
17    australia         estonia     export       5.893350e+05
18    australia         estonia     import       2.706600e+04
19    australia         finland     export       1.514186e+06
20    australia         finland     import       7.280580e+05
21    australia          france     export       8.585029e+07
22    australia          france     import       6.144306e+07
23    australia         germany     export       1.670434e+08
24    australia         germany     import       1.246184e+08
25    australia          greece     export       5.549789e+07
26    australia          greece     import       2.316601e+06
27    australia         hungary     export       3.652000e+06
28    australia         hungary     import       1.770000e+05
29    australia         iceland     export       4.169330e+05
...         ...             ...        ...                ...
2816        usa      luxembourg     export       1.046000e+03
2817        usa      luxembourg     import       4.500313e+07
2818        usa          mexico     export       9.676920e+09
2819        usa          mexico     import       1.289449e+10
2820        usa     netherlands     export       6.210948e+08
2821        usa     netherlands     import       8.816416e+08
2822        usa     new zealand     export       1.436013e+09
2823        usa     new zealand     import       2.303209e+08
2824        usa          norway     export       1.735516e+08
2825        usa          norway     import       2.306455e+08
2826        usa          poland     export       1.553720e+08
2827        usa          poland     import       1.853015e+08
2828        usa        portugal     export       3.782030e+07
2829        usa        portugal     import       2.025593e+08
2830        usa   rep. of korea     export       3.165525e+08
2831        usa   rep. of korea     import       5.466859e+09
2832        usa        slovakia     export       5.651270e+05
2833        usa        slovakia     import       2.383788e+07
2834        usa        slovenia     export       5.710337e+06
2835        usa        slovenia     import       1.360126e+07
2836        usa           spain     export       6.327236e+08
2837        usa           spain     import       1.249793e+09
2838        usa          sweden     export       1.258908e+08
2839        usa          sweden     import       1.292305e+08
2840        usa     switzerland     export       2.322525e+08
2841        usa     switzerland     import       1.570633e+08
2842        usa          turkey     export       2.523682e+08
2843        usa          turkey     import       6.916065e+08
2844        usa  united kingdom     export       5.285948e+08
2845        usa  united kingdom     import       1.259671e+09

[2846 rows x 4 columns]

In [27]:
data_m.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\new_data.csv', index=True)

In [6]:
data_matrix = data.groupby(['Reporter', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Reporter', 'Partner').fillna(0)
data_matrix.columns = data_matrix.columns.droplevel(0)
del data_matrix.index.name

data_matrix.head()

Partner,australia,austria,belgium,brazil,canada,chile,china,czechia,denmark,estonia,...,portugal,rep. of korea,slovakia,slovenia,spain,sweden,switzerland,turkey,united kingdom,usa
australia,3.836946e+08,2.118033e+08,1.453485e+09,1.605250e+09,1.101525e+09,7.544952e+08,2.930595e+10,1.357930e+08,3.579910e+08,9877886.0,...,5.776082e+07,1.478061e+10,1.284272e+07,1.994603e+07,8.184326e+08,7.742065e+08,2.536480e+08,8.232924e+08,2.353293e+09,6.848714e+09
austria,2.451348e+08,0.000000e+00,1.538599e+09,6.028196e+08,4.459359e+08,8.236241e+07,1.364775e+09,5.341192e+09,5.464473e+08,51935156.0,...,3.297839e+08,3.275576e+08,3.422955e+09,2.377380e+09,1.486341e+09,1.312950e+09,4.141802e+09,8.402376e+08,1.873528e+09,1.837024e+09
belgium,1.634344e+09,2.225965e+09,0.000000e+00,3.914456e+09,2.887683e+09,3.315177e+08,8.480619e+09,1.930058e+09,1.593961e+09,173570529.0,...,1.315396e+09,1.451376e+09,5.861511e+08,2.610716e+08,6.786880e+09,4.068156e+09,3.937843e+09,2.441762e+09,2.202006e+10,9.977590e+09
brazil,1.527751e+09,4.293379e+08,3.628935e+09,8.161059e+07,2.530107e+09,5.948119e+09,1.865117e+10,1.105610e+08,2.688170e+08,26043327.0,...,1.706954e+09,3.498394e+09,1.839432e+07,2.606416e+08,4.000093e+09,7.019484e+08,1.104137e+09,6.855587e+08,2.779184e+09,2.179694e+10
canada,1.403100e+09,2.870197e+08,3.538944e+09,2.903548e+09,4.717802e+08,1.746267e+09,1.375860e+10,1.621146e+08,4.815123e+08,25247076.0,...,3.607759e+08,3.789523e+09,4.891963e+07,4.044713e+07,1.337545e+09,6.268869e+08,3.326749e+08,1.374410e+09,9.697153e+09,2.641859e+11

In [ ]:
#Save full dataset to file
data_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\all_data_matrix_2008.csv', index=True)

In [ ]:
agr_data = data[data['Commodity Code'] == 0]
agr_matrix = agr_data.groupby(['Reporter', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Reporter', 'Partner').fillna(0)
agr_matrix.columns = agr_matrix.columns.droplevel(0)
del agr_matrix.index.name

#Save full dataset to file
agr_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\all_2008_agr_m.csv', index=True)

In [ ]:
raw_data = data[data['Commodity Code'] == 2]
raw_matrix = raw_data.groupby(['Reporter', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Reporter', 'Partner').fillna(0)
raw_matrix.columns = raw_matrix.columns.droplevel(0)
del raw_matrix.index.name

#Save full dataset to file
raw_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\all_2008_raw_m.csv', index=True)

In [ ]:
man_data = data[data['Commodity Code'] == 6]
man_matrix = man_data.groupby(['Reporter', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Reporter', 'Partner').fillna(0)
man_matrix.columns = man_matrix.columns.droplevel(0)
del man_matrix.index.name

#Save full dataset to file
man_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\all_2008_man_m.csv', index=True)

In [ ]:
enr_data = data[data['Commodity Code'] == 3]
enr_matrix = enr_data.groupby(['Reporter', 'Partner'],as_index = False)['Trade Value (US$)'].sum().pivot('Reporter', 'Partner').fillna(0)
enr_matrix.columns = enr_matrix.columns.droplevel(0)
del enr_matrix.index.name

#Save full dataset to file
enr_matrix.to_csv(r'C:\Users\Dhruval\Documents\MACSS\2019_Autumn\Network Analysis\NetworkAnalysis_Project\Raw Data 2008\matrix\all_2008_enr_m.csv', index=True)